<h1><%= @game.name %></h1>

<div class="row-fluid">
  <div class="span6">
    <h2>All Ratings</h2>
    <table>
        <%= render partial: 'games/rating_heading', locals: {game:  @game} %>

      <tbody>
        <%= render partial: 'games/rating', collection: @game.all_ratings, locals: {game:  @game} %>
      </tbody>
    </table>
  </div>
</div>
